<!DOCTYPE html>
<html>
    <body bgcolor=violet>
    <h1><strong>HOTEL SALMAN </strong></h1>
    <div style="background-color:">
  <br />
  <h2><i>"" 😇Welcomes You😇 ""</i></h2>
    <h1>cooldrinks</h1>
    <input type="checkbox" name="c1">
    THUMSUP<br>
    <input type="checkbox" name="c2">
    COCA-COLA <br>
    <input type="checkbox" name="c3">
    PEPSI<br>
    <h3>Non-veg</h3>
    <input type="checkbox" name="c4">
    Chicken lollypop<br>
    <input type="checkbox" name="c5">
    Chicken Kabab<br>
    <input type="checkbox" name="c6">
    Mutton Biryani<br>
    <h3>Veg</h3>
    <input type="checkbox" name="c1">
    Paneer chilli<br>
    <input type="checkbox" name="c2">
    Spring Roll<br>
    <input type="checkbox" name="c3">
    Veg Biryani<br>
    <h3>Non-veg</h3>
    <input type="checkbox" name="c4">
    Chicken lollypop<br>
    <input type="checkbox" name="c5">
    Chicken Kabab<br>
    <input type="checkbox" name="c6">
    Mutton Biryani<br>
    <h1><strong>#special</strong></h1>
    <br />
            <ul>
            <li>
            <h3><i>Noodles</i></h3>
            </li>
            <li>
            <h3><i>Parrota</i></h3>
            </li>
            <li>
            <h3><i>Pizza</i></h3>
            </li>
            <li><h3><i>Cakes</i></h3></li>
            </ul>
            <br />
            <hr />
    <input type="submit" value="order
    salman khan 
    8555954932">
    <div style="background-color:green">
  <br />
  <h2><i>""" 😇 VISIT AGAIN 😇 ""</i></h2>
  </div>